# Packages
node_modules/
yarn.lock
package-lock.json

# Deploy
docs/
test/
.github/
.travis.yml

# License
LICENSE.txt

# Config
.eslintrc.json
.eslintignore
tsconfig.json
tslint.json

# Other
.npmrc
.gitignore
.gitattributes
